.header, .body, .footer {
    min-width: 1150px;
    max-width: 1920px;
}
/* header */
.header {
    position: absolute;
    width: 100%;
    height: 70px;
    left: 0px;
    top: 0px;
    background-color: white; 
    display: -webkit-flex;
    box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);  
}
.logo {
    display: flex;
    height: 40px;
    margin-left: 140px;
    margin-top: 15px;
}


.header button{
    border-radius: 22px;
    background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
    width: 196px;
    height: 34px;
    left: 1104px;
    top: 18px;
    margin-top: 18px;
}
.menu {
    display: -webkit-flex;
    align-items: center;
    margin-left: auto;
     

}
.menu li {
    display: inline-flex;
    margin-right: 20px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;

    /* Dark 50% */
    color: rgba(31, 32, 65, 0.5);

}
#enter {
    width: 87px;
    height: 34px;
    background: white;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    /* identical to box height */
    text-transform: uppercase;

    /* Primary Color */
    color: #BC9CFF;
    margin-right: 20px;
    border: 2px solid #BC9CFF;
}
#reg {
    height: 34px;
    width: 196px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    text-transform: uppercase;
    margin-right: 140px;
    color: #FFFFFF;
    border: 2px solid #BC9CFF;
}
/* body */

.main {
    width: 100%;
    position: relative;
}

.window {
    position: absolute;
    width: 380px;
    height: 380px;
    left: 10%;
    top: 15%;

    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.12);
    box-sizing: border-box;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
}
.title_window {
    padding: 40px 30px 30px;
}

.date input {
    border: 1px solid rgba(0, 0, 0, 0.12);
    box-sizing: border-box;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    width: 150px;
    height: 44px;
    margin-left: 30px;
}

#backimg {
    width: 100%;
    margin: 0%;
    position: relative;
    top: 61px;
}
#exp {
    width: 12px;
    height: 10px;
    margin-top: 4px;
    margin-left: 2px;
}

#promotxt {
    position: absolute;
    top: 750px;
    left: 900px;
}


/* FOOTER */
.footer {
    height: 372px;
    width: 100%;
    display: -webkit-flex;
    flex-direction: row;
    margin: 0px auto 0px;
}
.block {
    display: flex;
    margin: 0 10px;
    width: 150px;

}

.block1 {
    display: -webkit-flex;
    flex-direction: column;
    width: 240px;
    margin-left: 140px;
    margin-top: 100px;
    height: 132px;
}
.block1 img {
    display: flex;
    height: auto;
    width: 100px;
    
}
.block1 p {
    display: flex;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    /* or 171% */
    
    /* Dark 75% */
    color: rgba(31, 32, 65, 0.75);
}

.block2 {
    display: -webkit-flex;
    flex-direction: column;
    width: 143px;
    margin-left: 40px;
    margin-top: 100px;
    height: 168px;
    text-align: left;
}
.block2 ul {
    list-style: none;
    margin: 0px;
    padding: 0%;
}
.block2 h3 {
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    /* identical to box height */
    text-transform: uppercase;
    
    /* Dark 100% */
    color: #1F2041;    
}
.block2 li {
    display: flex;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 30px;

    /* Dark 50% */
    color: rgba(31, 32, 65, 0.5);

}

.block3 {
    display: -webkit-flex;
    flex-direction: column;
    width: 143px;
    margin-left: 40px;
    margin-top: 100px;
    height: 168px;
    text-align: left;
}
.block3 ul {
    list-style: none;
    margin: 0px;
    padding: 0%;
}
.block3 h3 {
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    /* identical to box height */
    text-transform: uppercase;
    
    /* Dark 100% */
    color: #1F2041;    
}
.block3 li {
    display: flex;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 30px;

    /* Dark 50% */
    color: rgba(31, 32, 65, 0.5);

}

.block4 {
    display: -webkit-flex;
    flex-direction: column;
    width: 143px;
    margin-left: 40px;
    margin-top: 100px;
    height: 168px;
    text-align: left;
}
.block4 ul {
    list-style: none;
    margin: 0px;
    padding: 0%;
}
.block4 h3 {
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    /* identical to box height */
    text-transform: uppercase;
    
    /* Dark 100% */
    color: #1F2041;    
}
.block4 li {
    display: flex;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 30px;

    /* Dark 50% */
    color: rgba(31, 32, 65, 0.5);

}

.block5 {
    display: -webkit-flex;
    flex-direction: column;
    width: 240px;
    margin-left: 40px;
    margin-top: 100px;
    height: 168px;
    text-align: left;
    margin-right: 140px;
}

.block5 h3 {
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    /* identical to box height */
    text-transform: uppercase;
    
    /* Dark 100% */
    color: #1F2041;    
}

.block5 pre{
    display: flex;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 30px;

    /* Dark 50% */
    color: rgba(31, 32, 65, 0.5);   

}

.underline {
    width: 100%;
    height: 70px;
    display: -webkit-flex;
    margin: 0px auto 0px;
}

.undertxt {
    display: flex;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: rgba(31, 32, 65, 0.75);
    margin-left: 140px;
    margin-top: 26px;
}
.social {
    display: flex;
    margin-left: auto;
    margin-right: 140px;
    height: 20px;
    margin-top: 20px;
}
.social img {
    margin-right: 5px;
}

/* yansimple */